<header id="home" class="text-center">
  <nav id="nav-wrap">
    <a class="mobile-btn" href="#nav-wrap" title="Show navigation">Show navigation</a>
    <a class="mobile-btn" href="#" title="Hide navigation">Hide navigation</a>
    <ul id="nav" class="nav">
      <li class="current"><a href="#home">Home</a></li>
      <li><a href="#about">About</a></li>
      <li><a href="#resume">Resume</a></li>
      <li><a href="#education">Education</a></li>
    </ul>
  </nav>
  <div class="row banner text-center">
    <div class="banner-text">
      <h1 class="responsive-headline">I am Ceevee.</h1>
      <h3>Ceevee <span class="highlight">is a CSS/ HTML template</span> that you can use to build your CV online. The template is based on <span class="highlight">Middleman</span> an <span class="highlight">easy-to-use framework</span> that will allow you to set up your own version very quickly.</h3>
      <hr />
      <ul class="social">
        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
        <li><a href="#"><i class="fa fa-github"></i></a></li>
        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
        <li><a href="#"><i class="fa fa-stack-exchange"></i></a></li>
        <li><a href="#"><i class="fa fa-envelope"></i></a></li>
      </ul>
    </div>
  </div>
  <p class="scrolldown">
    <a href="#about"><i class="fa fa-chevron-circle-down"></i></a>
  </p>
</header>
