---
title: Méril Pilon
---
<section id="about">
  <div class="row">
    <div class="small-12 columns">
      <h2>About Me</h2>
      <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="small-12 columns">
      <a href="#" class="button"><i class="fa fa-download"></i>Download Resume</a>
    </div>
  </div>
</section>
<section id="resume" class="main_content">
  <div class="row work">
    <div class="small-3 columns header-col">
      <h1><span>Work</span></h1>
    </div>
    <div class="small-9 columns">
      <div class="row item">
        <div class="small-12 columns main-col">
          <h3>Position</h3>
          <p class="info">Company <span>&bull;</span> <em class="date">March 2010 - Present</em></p>
          <p>
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. Nullam dictum felis eu pede mollis pretium.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="row skill">
    <div class="small-3 columns header-col">
      <h1><span>Skills</span></h1>
    </div>
    <div class="small-9 columns main-col">
      <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
      </p>
      <div class="bars">
        <ul class="skills">
          <li><span class="bar-expand skill1"></span><em>Skill1</em></li>
          <li><span class="bar-expand skill2"></span><em>Skill2</em></li>
          <li><span class="bar-expand skill3"></span><em>Skill3</em></li>
          <li><span class="bar-expand skill4"></span><em>Skill4</em></li>
          <li><span class="bar-expand skill5"></span><em>Skill5</em></li>
          <li><span class="bar-expand skill6"></span><em>Skill6</em></li>
        </ul>
      </div>
    </div>
  </div>
</section>
<section id="education" class="main_content">
  <div class="row">
    <div class="small-3 columns header-col">
      <h1><span>EDUCATION</span></h1>
    </div>
    <div class="small-9 columns">
      <div class="row item">
        <div class="small-12 columns main-col">
          <h3>School name</h3>
          <p class="info">Degree<span>&bull;</span> <em class="date">March 2009 - March 2010</em></p>
          <p>
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. Nullam dictum felis eu pede mollis pretium.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
